.arrowLeft,
.arrowRight {
  width: fit-content;
  height: fit-content;
  position: absolute;
  margin: 0 1rem;
  display: flex;
  flex-direction: column;
}

.arrowLeft p,
.arrowRight p {
  color: var(--white);
  font-family: Josefin, sans-serif;
  font-weight: 300;
  white-space: pre-wrap;
}

.arrowLeft svg,
.arrowRight svg {
  width: 2rem;
}

.rightAlign {
  text-align: right;
  margin-left: auto;
}

@media only screen and (max-width: 576px) {
  .arrowLeft,
  .arrowRight {
    display: none;
  }
}

@media only screen and (min-width: 577px) and (max-width: 768px) {
  .arrowRight {
    display: none;
  }

  .arrowLeft {
    margin: 0;
  }
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
  .arrowRight {
    display: none;
  }
}