.hero {
  background-color: var(--white);
  height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: fit-content;
  display: flex;
  gap: 1rem;
}

.title {
  border-left: solid 1px var(--black);
  margin-top: auto;
  padding-left: 1rem;
}

.title h1 {
  line-height: 0.9;
  padding-bottom: 0.7rem;
}

.title p {
  color: var(--grey)
}