.hero {
  background-color: var(--white);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@supports(height: 100svh) {
  .hero {
    height: 100svh;
  }
}

.container {
  width: fit-content;
  display: flex;
  gap: 1rem;
}

.title {
  width: fit-content;
  border-left: solid 1px var(--black);
  margin-top: auto;
  padding-left: 1rem;
}

.title h1 {
  line-height: 0.9;
  padding-bottom: 0.7rem;
}

.title p {
  color: var(--grey)
}

@media only screen and (max-width: 992px) {
  .container {
    flex-direction: column;
  }

  .title {
    border: none;
    padding: 0;
    width: 100%;
    margin-top: 1.5rem;
  }

  .title h1 {
    font-weight: 500;
    font-size: 1.7rem;
    text-align: center;
  }

  .title p {
    display: none;
  }
}