.arrow {
  margin: auto 0 auto auto;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: var(--primary);
  position: relative;
}

.arrow svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1rem;
}
