.cursor {
  position: fixed;
  z-index: 0;
  pointer-events: none;
  background-color: var(--brand-primary);
  border-radius: 50%;
}

.defaultCursor {
  width: 10px;
  height: 10px;
}

.projectOverCursor {
  width: 10px;
  height: 10px;
  position: relative;
}

.projectOverCursor svg {
  position: absolute;
  top: 3.3px;
  left: 3.2px;
  fill: var(--black);
  width: 40%;
}