.about {
  background-color: var(--black);
  padding: 5rem 0;
  padding-top: 10rem;
  border-radius: 10px 10px 0 0;
}

/* Header */
.about header {
  display: flex;
  align-items: center;
  margin-bottom: 5rem;
}

.about header h2 {
  margin: auto;
}


/* First section: quote */
.quote {
  padding: 0 16vw;
  display: flex;
  gap: 2vw;
  margin-bottom: 5rem;
}

.quote p {
  color: var(--white);
  font-size: 3rem;
  width: auto;
  display: flex;
  align-items: center;
}

.quote img {
  width: 30%;
  object-fit: cover;
}

/* Second section: intro */
.intro {
  padding: 0 25vw;
  display: flex;
  margin-bottom: 5rem;
}

.intro aside {
  position: absolute;
  right: 1rem;
}

/* Third section: Experience */
.experience {
  padding: 0 25vw;
  display: flex;
  margin-bottom: 5rem;
}

.experience aside {
  position: absolute;
  right: 1rem;
}

/* Fourth section: Skills */
.skills {
  padding: 0 25vw;
  display: flex;
  margin-bottom: 5rem;
}

.skills aside {
  position: absolute;
  right: 1rem;
}

@media only screen and (max-width: 576px) {
  .quote {
    padding: 0 6vw;
    flex-direction: column;
    gap: 5rem;
  }

  .quote p {
    text-align: center;
  }

  .quote img {
    width: 70%;
    margin: auto;
  }

  .intro,
  .experience,
  .skills {
    padding: 0 5vw;
  }
}

@media only screen and (min-width: 577px) and (max-width: 768px) {
  .quote {
    padding: 0 12vw;
    flex-direction: column;
    text-align: center;
    gap: 5rem;
  }

  .quote img {
    width: 70%;
    margin: auto;
  }

  .intro,
  .experience,
  .skills {
    padding: 0 15vw;
  }
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
  .quote {
    padding: 0 8vw;
  }
  
  .intro,
  .experience,
  .skills {
    padding: 0 20vw;
  }
}

@media only screen and (min-width: 993px) and (max-width: 1200px) {
}
