.about {
  background-color: var(--black);
  padding: 5rem 0;
  padding-top: 10rem;
  border-radius: 10px 10px 0 0;
}

/* Header */
.about header {
  display: flex;
  align-items: center;
  margin-bottom: 5rem;
}

.about header h2 {
  margin: auto;
}

/* First section: quote */
.quote {
  padding: 0 18vw;
  display: flex;
  gap: 5rem;
  margin-bottom: 5rem;
}

.quote p {
  color: var(--white);
  font-size: 3rem;
  width: auto;
  display: flex;
  align-items: center;
}

.quote img {
  width: 30%;
}

/* Second section: intro */
.intro {
  padding: 0 25vw;
  display: flex;
  margin-bottom: 5rem;
}

.intro aside {
  position: absolute;
  right: 1rem;
}

/* Third section: Experience */
.experience {
  padding: 0 25vw;
  display: flex;
  margin-bottom: 5rem;
}

.experience aside {
  position: absolute;
  right: 1rem;
}

/* Fourth section: Skills */
.skills {
  padding: 0 25vw;
  display: flex;
  margin-bottom: 5rem;
}

.skills aside {
  position: absolute;
  right: 1rem;
}