.defaultCell, .highlightCell {
  font-family: Josefin sans-serif;
  font-size: 6rem;
  font-weight: bold;
  z-index: 2;

  display: flex;
  justify-content: center;
}

.defaultCell {
  color: var(--light-grey);
}

.highlightCell {
  color: var(--black)
}