:root {
  --grid-size: 4;
}

.container {
  position: relative;
  width: 30vw;
}

.maskContent, .content {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(var(--grid-size), 1fr);
  grid-template-rows: repeat(var(--grid-size), 1fr);
}

/* Element to be hidden */
.maskContent {
  z-index: 10;
  position: absolute;
  mask-image: url(../../../assets/mask.svg);
  background: var(--primary);
  mask-repeat: no-repeat;
}

.mask {
  position: absolute;
  background-color: var(--primary);
  z-index: 7;
  pointer-events: none;
  border-radius: 50%;
}

/* Element to be shown at beginning */
.content {
  z-index: 5;
}