.callToAction {
  grid-column: span 2;
  grid-row: span 2;
  width: 100%;
}

.container {
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.title {
  font-size: 4rem;
}

.email {
  color: var(--grey);
  font-size: 1.2rem;
  text-decoration: none;
}

.socials {
  display: flex;
  gap: 1rem;
}

.social {
  width: 2.5rem;
}

.social svg {
  width: inherit;
}

@media only screen and (max-width: 576px) {
  .callToAction {
    grid-column: span 2;
    grid-row: span 1;
  }

  .title {
    font-size: 3rem;
  }

  .container {
    margin: auto;
  }

  .socials {
    margin: auto;
  }
}

@media only screen and (min-width: 577px) and (max-width: 768px) {
  .callToAction {
    grid-column: span 2;
    grid-row: span 1;
  }

  .container {
    margin: auto;
  }
}