:root {
  --grid-rows: 7;
  --grid-cols: 8;
}

.gridContainer {
  width: 100%;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.letterGrid {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: grid;
  grid-template-columns: repeat(var(--grid-cols), 1fr);
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  width: 30rem;
  height: 30rem;
  /* see latest chatgpt prompt */
}

.letter {
  font-weight: bold;
  color: var(--white-secondary);
}

.highlighted {
  font-weight: bold;
  color: var(--white-secondary);
  color: var(--black);
}