:root {
  --white-primary: #FAFAF9;
  --white-secondary: #EFEEED;
  --white-tertiary: #C4C4C4;
  --black: #121212;
}

html, body {
  box-sizing: border-box;
  font-family: Inter;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;

  /* For debugging */
  background-color: aqua;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Montserrat;
}