:root {
  /* Colors 🌈 */
  --black: #1D1C1B;
  --white: #FAFAF9;
  --light-grey: #E9E5E2;
  --grey: #76726F;
  --primary: #DCDA94;

  /* Fonts 📝 */
  font-family: Manrope, sans-serif;
  font-size: clamp(16px, 1.2vw, 24px);
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* Normalize */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  color: var(--white);
  line-height: 1.2;
}

/* Defaults */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*
  border: dotted 1px red;
  */
}

p {
  font-size: 1rem;
}

h1 { 
  font-size: 4rem;
  color: var(--black)
}

h2 {
  font-size: 6rem;
}

@media only screen and (max-width: 576px) {
  h2 {
    font-size: 3rem;
  }
}

@media only screen and (min-width: 577px) and (max-width: 768px) {
  h2 {
    font-size: 4rem;
  }
}