.projectGrid {
  padding: 0 3vw;
  width: 100%;
  display: grid;
  gap: 5rem 2rem;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
}

.project {
  background-size: cover;
  background-position: center;
}

.projectLink {
  cursor: none;
}

.img {
  width: 100%;
  border-radius: 3px;
  margin-bottom: 1rem;
}

.header {
  display: flex;
  flex-wrap: wrap;
  gap: 0.4rem 1rem;
}

.h5 {
  font-weight: 500;
}

.tags {
  align-items: center;
  display: flex;
  column-gap: 5px;
}

.tag {
  display: inline-block;
  color: var(--white-tertiary);
  list-style-type: none;
  border: 1px solid var(--white-tertiary);
  /* Lets the tag radius scale down to fit height */
  border-radius: 999px;
  padding: 3px 12px;
  width: fit-content;
  min-width: 3rem;
  text-align: center;
  font-size: 0.7rem;
}

.description {
  color: var(--white-tertiary);
  font-weight: 350;
  padding-left: 0.1rem;
  margin-top: 0.3rem;
}
